/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*--GLOBAL--*/
body  {
   background-color: #AAAAAA;
   color: #2C5959;
   font-size: 16px;
   line-height: 1.8;
   font-family: 'Source Sans Pro', sans-serif;
}

.container {
   max-width: 980px;
   margin: 0 auto;
   padding: 0 10px;
}

ol {
   list-style: none;
   counter-reset: li;
}
li {
   margin-bottom: 10px;
}
 li:before {
   counter-increment: li; 
   content: counters(li,".") ". ";
}

input, textarea {
   border-radius: 8px;
   padding: 5px;
}
a {
   color: #946B4A;
   font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
   color: #644730;
}

table {
   border-collapse: collapse;
   border: 2px solid #000;
}

th, td {
   border: 2px solid grey;
   padding: 10px 15px;
}


th:nth-child(2n) {
   background-color: #fff;
   color: #000;
}
/*--/GLOBAL--*/

/*--HEADER--*/
.header {
   width: 100%;
   background-color: #944A4A;
   color: #AAAAAA;
   padding: 10px;
}

.header-item {
   display: flex;
   align-items: center;

}
.item {
   margin-right: 50px;
}

.header-item__logo img {
   border-radius: 50%;  
}

.header-item__text {
   text-transform: uppercase;
   letter-spacing: 1px;
}
/*--/HEADER--*/

/*--MENU--*/
.menu {
   margin: 30px 0 50px 0;
}
.menu__list {
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
}
.menu-item a{
   text-decoration: none;
}

/*--/MENU--*/

/*--CONTENT--*/
.content {
   margin: 20px 0 50px 0;
}

.content-item__hyperlinks {
   order: 1;
}
.content-item__table {
   order: 3;
   margin: 50px 0 50px 0;
   text-align: center;
   font-size: 20px;
}

.content-item__form{
   order: 2;
}

.content-item {
   display: flex;
   flex-direction: column;
}
/*--/CONTENT--*/

/*--FOOTER--*/
footer {
   background-color: #944A4A;
   padding: 50px 0 50px 0;
   color: #000;
}
.footer__text {
   text-align: right;
}
/*--/FOOTER--*/


/*Альбомная ориентация*/
@media all and (orientation: landscape) {
   .menu__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

   }
   .menu-item {
      padding-bottom: 10px;
   }
}
/*Альбомная ориентация*/


/*Планшеты десктопы*/
@media screen and (min-width: 900px) {
   .menu__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
   }
   .content-item__hyperlinks {
      order: 1;
   }
   .content-item__table {
      order: 2;
   }
   
   .content-item__form{
      order: 3;
   }
}
/*Планшеты десктопы*/